<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>SmartAdministration</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>SmartHomeScreen</display-name>
    <servlet-name>SmartHomeScreen</servlet-name>
    <servlet-class>com.ddn.upes.SmartHomeScreen</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SmartHomeScreen</servlet-name>
    <url-pattern>/SmartHomeScreen</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Excommand</display-name>
    <servlet-name>Excommand</servlet-name>
    <servlet-class>com.ddn.upes.Excommand</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Excommand</servlet-name>
    <url-pattern>/excommand</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>InputHandler</display-name>
    <servlet-name>InputHandler</servlet-name>
    <servlet-class>com.ddn.upes.InputHandler</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>InputHandler</servlet-name>
    <url-pattern>/InputHandler</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ShowResponse</display-name>
    <servlet-name>ShowResponse</servlet-name>
    <servlet-class>com.ddn.upes.ShowResponse</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ShowResponse</servlet-name>
    <url-pattern>/ShowResponse</url-pattern>
  </servlet-mapping>
</web-app>